body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: rgb(43, 43, 43);
}

.watch {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    font-size: 24px;
    /* border: 2px solid wheat; */
    padding: 23px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.date-format {
    margin-bottom: 20px;
    color: white;
    border: 1px solid wheat;
    border-radius: 5px;
}